.buttonPrimary{
    background-color: black;
    border: none;
    padding: 12px 40px;
    border-radius: 50px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    margin-bottom: 30px;
    transition: all 0.4s;
    opacity: 0.85;
}
.buttonPrimary:hover{
    background-color: #ffffff;
    color: black;
    opacity: 0.85;
}
@media (max-width: 900px) {
   .buttonPrimary {
        display:flex;
        width:70px;
        height:10px;
       font-size: 6px;
       margin-top:0px;
   }
}